{% extends "base.html" %}

{% block sidebar-added %}
<ul id="text-news">
   <li><a href="javascript:goback();">Go Back</a></li>
 </ul>
{% endblock %}


{% block content-added %}
	<h1 id="text-newsheadline"><u>My Added Stuff</u></h1><br><br>
	{% for x in news %}
	<div>
		<h2 id="text-news">
			{{ title }}<a target="blank" href="/news/get/{{x.id}}">{{ x.title }}</a>
		</h2>	
		<p id="text-metadata">
			Published Date: {{ x.pub_date }}<br>
			Upvote:{{ x.upvote }}<br><br> <a href="/news/content/remove/{{ userid }}/{{ x.id }}" style="color: #CC0000">Remove</a><br>
			-------------------------------------------------------------------------------------------------------------------------
		</p>
	</div>
	{% endfor %}
{% endblock %}