{% extends "base.html" %}


<script type="text/javascript">
{% block sidebar-home %}
<ul id="text-news">
	<li><a href="/admin">Admin</a></li>
	<li><a href="/accounts/register">Register</a></li>
	<li><a href="/accounts/login">Login</a></li>
</ul>

{% endblock %}


{% block content-home %}
	<h1 id="text-newsheadline"><u>News HeadLines</u></h1><br><br>
	{% for x in news %}
	<div>
		<h2 id="text-news">
		{% if login %}
			<a href="/news/get/{{x.id}}"><u>{{ x.title|title }}</a></u>
		{% endif %}
		<div onclick=Warn()>{{ x.title|title }}</div>
		</h2>
		<p id="text-smallest">
			Published Date: {{ x.pub_date }}<br><div onclick=Warn()>Upvote:{{ x.upvote }}</div><br>
			------------------------------------------------------------------------------------------------------------------------------------------------------
		</p>
	</div>
	{% endfor %}
</script>
{% endblock %}