{% extends "base.html" %}

{% block sidebar-loggedin %}
<ul id="text-news">
	Hi {{ get_id.username| title }} :)<br><br>
	
	<li><a href="/news/content/user/{{ get_id.id }}">My Content</a></li>
	<li><a href="/news/add_news/user/{{ get_id.id }}">Share News</a></li>
	<li><a href="/accounts/logout">Logout</a></li>
</ul>

{% endblock %}


{% block content-loggedin %}
	<h1 id="text-newsheadline"><u>News HeadLines</u></h1><br><br>
	{% for x in news %}
	<div>
		<h2 id="text-news">
			{{ title }}<a target="blank" href="/news/get/{{x.id}}">{{ x.title }}</a>
		</h2>	
		<p id="text-smallest">
			Published Date: {{ x.pub_date }}<br>
			<div>Upvote:{{ x.upvote }}</div><br>
			-----------------------------------------------------------------------------------------------------------------------------------------------------------
		</p>
	</div>
	{% endfor %}
{% endblock %}